

/* Fredrik Lundkvist */

.spinner-container {
    position: relative;
    right: 125.5px;
    bottom: 12px;
    z-index: 2;
  }
  .circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid  wheat;
    position: absolute;
    z-index: 1;
  }
  .animate {
    animation-name: ripple;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  #c1 {
    animation-delay: 0s;
  }
  #c2 {
    animation-delay: 1s;
  }
  #c3 {
    animation-delay: 2s;
  }


  