
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-bluedark-color: #1487FD;
    --primary-bluelight-color: #42A0FF;
    --primary-yellow-color:#FFBB00;
    --primary-lightgrey-color:#8A8A8A;
    --primary-darkgrey-color:#333333;
    --primary-black-color:#111010;
}

   
  
  html, body {
    font-family: 'Roboto Slab' sans-serif;
    line-height: 1.5;
    scrollbar-width: none;
    /* overflow-x: hidden; */
  }
  
  body::-webkit-scrollbar {
    display: none;
  }