/* FOOTER - FREDRIK */

#footer{
  margin-top:4rem ;
  position: relative;
  background-image: url('../img/footer/Rectangle\ 1915.png');
  background-size: cover;
  height: 250px;
  z-index: 3;

}
#footer h1{

  color: #FFF;
  font-weight: bolder;
  font-size: 41px;
  display: flex;
 padding-top:  2.5rem;
  align-items: center;
  justify-content: center;
}

#footer span{
  color: var(--primary-yellow-color);
}
.foot-bg{
  position: absolute;
  top: 0%;
  z-index: -1;
}
.foot-bg img{
/*   background-position: center center; */
  overflow:hidden;
  width: 100vw;
  height: 250px;
  max-height: 100vw;
  border-image-repeat: no-repeat;
}


.footer-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px ;
  list-style: none;
  z-index: 1;

}
.footer-nav a{
  color: white;
  margin: 0 15px; 
}

a:hover{
  color:var(--primary-yellow-color); 
  text-decoration: none;
  
}


#footer .social-media{

  /* width: 100%;  */
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  
}
#footer .social-media i{
  display: inline-block;
  text-align: center;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: rgba(224, 255, 255, 0.185);
  margin: 10px;
  line-height: 1.9em;
  
}
#footer .social-media i:hover{
  background-color: #ffbb00b4;
}
/* FOOTER_END--Fredrik */


@media(max-width:  620px){
  .footer-nav a{
    font-size: smaller;
    margin: 0;
    align-items: center;
    justify-content: center;


  }
}