
*, ::after, ::before
{
    margin: 0;
    padding: 0;
}

body{
  overflow-x: hidden;
}
.main-nav {
    width: 100%;
    left: 0;
    position: relative;
    margin-bottom: 10%;
    }
  
 
  /* 
 navagtion , log , nav-link */ 
 .navbar-toggler {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.8rem;
}
 .collapse:not(.show) {
  display: none;
} 
/* nav link effects -- start */
.navbar-nav a{
    color: white;
}
a {
  padding: 0 .5rem;
}
a:hover{
  text-decoration: none;
  }
  .nav-link a:active{
    content: "";
    display:block;
    margin: 0 ;
    width: 50%;
    border-bottom: 2px solid var(--primary-yellow-color);
    padding: 0;
    padding-bottom: 0.2rem ;
  }
  
  /* nav link effects -- end */
.navbar-brand h1{
  font-size: 2rem;
  font-weight: 700;
  color: aliceblue;
}
.logo-dot{
    color: var(--primary-yellow-color);
}
.navbar-nav a:focus , 
.navbar-nav a:hover{  
 color: var(--primary-yellow-color) ;
}


  /* 
 End  navagtion , log , nav-link */
 
 
/*  header conatiner- start */
.main-nav .container{
    max-width: 80%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    margin: 0 2rem;
    margin-top: 1rem;
    }
  .container{
    margin-top:   2rem;; 
    }
 
  .text-white{
    color: white;
  }
 
  .header .header-card h1{
    color:white ;
    font-weight: 400;
  }
  .header .header-card h1 ,  .header .header-card p{
    text-align: center;
  }
  .main-nav .header{
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    width:90%;
    justify-content: center;
    align-items: center;
       
}


.navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  
}
  


.header-card{
     width: auto;
     text-align: center;
     font-size: 1rem;
     margin: 5%;
     
  }
/*  .header-card h1{
      
  }
   */
  .header-svg{
    background-image: url('/img/header-svg.svg');
    background-repeat: no-repeat;
    width:300px;
    height:400px;
    z-index: 1;
  }

 
 
  .btn-getTheApp{
       background-color: var(--primary-yellow-color);
      color: white;

  }  

        .fa-play-circle{
            background-color: white;
            color: var(--primary-yellow-color);
            border-radius: 50px;
            position: relative;
            margin-right: 0.5rem;
            outline: 2px double var(--primary-yellow-color);
            outline-offset: 2px;
        }
  
      .header-svg{
        display: none;
        
        }
      .btn-box div{
            align-items: center;
            margin-bottom: 1rem;
        }

      .btn-downloadnow{
        background-color: var(--primary-bluedark-color); 
        color: white;
        border:1px solid white;
        line-height: 1rem;
      }
  
      .btn-watchvideo{
       
        background-color: var(--primary-bluedark-color);  
        display: inline-flex; /* make element size relative to content */
        align-items: center; /* vertical alignment of items */
        line-height: 1rem; /* vertically size by height, line-height or padding */
        justify-content: center;
      }
      
    
   
    .btn-downloadnow{
      background-color: var(--primary-bluelight-color);
      color: white;
      border:1px solid white;
  }
  
 
.main-nav::after{
 content: '';
 position: absolute;
 bottom: 0;
 width:100%;
 height: 160%;
 background: none;
 background:  var(--primary-bluedark-color)url('/img/Group-4634@2x.png');
 outline: transparent;
 opacity: 95%;
 background-repeat: no-repeat; 
 background-size:100% ;
 background-position: cover;
 border-radius: 0  0 68px 10px;

}