#navbar {
    background-color: green;
    border :1px solid rgb(128, 0, 11); 
}
 
  .navbar .container{
    width: 100%;
    z-index: 1;
    margin-top: 0;
    
    }
    .navbar-nav {
      display: flex;
      flex-direction: column;
      list-style: none;
     
    }
  /* 
 navagtion , log , nav-link */
    
 .navbar-toggler {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.8rem;
}
/* nav link effects -- start */
.navbar-nav a{
    color: white;
}
a {
  padding: 0 .5rem;
}
a:hover{
  text-decoration: none;
  }
  .nav-link a:active{
    content: "";
    display:block;
    margin: 0 ;
    width: 50%;
    border-bottom: 2px solid var(--primary-yellow-color);
    padding: 0;
    padding-bottom: 0.2rem ;
  }
  
  /* nav link effects -- end */
  
  .navbar-brand h1{
    font-size: 2rem;
    font-weight: 700;
  }
  .logo-dot{
      color: var(--primary-yellow-color);
  }
  .navbar-nav a:focus , 
  .navbar-nav a:hover{  
   color: var(--primary-yellow-color) ;
  }
  
  .navbar .header{
       width:80%;
      align-items: center;
      }
      
      .text-white{
        color: white;
      }
     
      .navbar .header{
        position: relative;
        z-index: 1;
        color: white;
        display: flex;
        width:80%;
        margin-left: 10%;
        line-height: 1rem;
        margin-top: 1rem;
         
    }
    
    .header .header-card h1{
      font-weight: 400;
    }  